<form action="/result">
Length: <input type="number" min=1 id="length" name="length">
Width: <input type="number" min=1 id="width" name="width">
<button type="submit">Save my Rectangle</button>
</form>
